/* Gaya umum untuk body */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1c2130;
  background-size: cover;
  backdrop-filter: blur(10px);
  color: #FFFFFF;
}

/* Gaya untuk logo pada navbar */
.navbar-brand img {
  margin: auto;
  width: 100px;
  height: auto;
}

/* Gaya untuk judulna */
.judulna {
 font-family: 'Gasoek One', sans-serif;
  text-align: center;
  color: black;
  font-size: 35px;
  line-height: 24px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  
}

.container-user {
  background-color: rgb(16 16 16);
  border: 1px solid rgb(255 255 255 / 5%);
  height: auto;
  width: auto;
  border-radius: 1px;
  margin-top: none;
  padding: 20px;
  margin: none;
  box-shadow: 0 0 3px rgba(1, 2, 1, 1.2);
  display: block;
float: none;
position: static;
font-size: 16px;
line-height: 24px;
filter: brightness(98%);
margin-bottom: 15px;
  
}


/* Gaya untuk h3 */
h3 {
  
  text-align: center;
  font-size: 16px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
 
  
}


/* Gaya untuk input URL */
#urlInput {
  color: black;
  width: 100%;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Gaya untuk header */
header {
  text-align: center;
  margin-bottom: 20px;
}

/* Gaya untuk main content */
main {
  text-align: center;
}

/* Gaya untuk input umum */
input {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
  backdrop-filter: blur(10px);
  color: red;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

/* Gaya untuk tombol umum */
button {
  padding: 10px 20px;
  background-color: red;
  color: whitesmoke;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

button:hover {
  background-color: #0873FF;
}

/* Gaya untuk tombol download */
#downloadBtn {
font-family: sans-serif;
  filter: brightness(97%);
  width: 100%;
  height: 40px;
  border: 0;
  background: #1c2130;
  border-radius: 10px;
  outline: none;
  color: white-space ;
  cursor: pointer;
  
}

#downloadBtn:active {
  background-color: red;
  width: 100%;
  height: 40px;
  border: 0;
  background: #dc143c;
  border-radius: 7px;
  outline: none;
  color: #ffffff;
  cursor: pointer;
  
}

/* Gaya untuk hasil */
#result {
  margin-top: 20px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  
  
}

/* Gaya untuk section */
section {
  margin-top: 20px;
}

/* Gaya untuk h4 */
h4 {
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  font-size: 17px;
  margin: 12px;
 
}


.form_container {
  width: auto;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 50px 40px 20px 40px;
  background-color: #3c38ff;
  border: 1px solid rgb(255 255 255 / 5%);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
font-family: "Inter", sans-serif;

}

.mengapaa {
 color: #FFFFFF;
 font-family: 'Oswald', sans-serif;
 text-align: center;
}

/* Gaya untuk accordion */
.accordion {
  background-color: #3c38ff;
  color: white;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  height: 80%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  margin-bottom: 8px;
  font-family: 'Oswald', sans-serif;
  
}

.active,
.accordion:hover {
  background-color: #4856EDED;
}

/* Gaya untuk panel accordion */
.panel {
  padding: 0 15px;
  display: none;
  background-color: white;
  overflow: hidden;
}

/* Gaya untuk how */
.how {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.container_batas {
  width: auto;
  height: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #233142;
  filter: brightness(60%);
}


#main2 {
    padding: 20px;
    background-color: #3c38ff;
    margin: 20px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.6);
   border-radius: 10px;
    
}

.steps {
    margin-bottom: 20px;
}

.steps123 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #FFFFFF;
    text-align: center;
    
}

ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.step-number {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50px;
    color: #4856ED;
    text-align: center;
    line-height: 30px;
    margin-right: 10px;
}


.stepstep {
  color: white;
font-family: 'Plus Jakarta Sans', sans-serif;
text-align:left;
font-size: 15px;

}

.bodyy {
  background-color: #1c2130;
}

.spasi {
  width: auto;
  height: 120px;
  
}

.spasii {
  margin-bottom: 80px;
}

.gamon {
 text-align: center;
 font-size: 20px;
}

.gamonn {
  width: auto;
  height: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background-color: red;
  
}

.stop {
  font-size: 13px;
  text-align: left;
  margin: 10px;
}

#footer-policy {
  text-align: center;
  font-size: 15px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  padding: 12px;
  background-color: #1c1e22;
}


.container_batass {
  width: 110px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FCFDFF;
  filter: brightness(60%);
}

footer {
  color: #fff;
  text-align: center;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
}